@viewport {
	zoom: 1.0;
	width: device-width;
}

body {
	position: relative;
	font-family: sans-serif;
	color: white;
	background: indigo;
	margin: 0;
	padding: 0;
}

.mainWrapper {
	width: 360px;
	margin: auto;
}

.wrapper,
.horizontalScrollWrapper {
	padding: 0 16px;
	width: 328px;
}

.horizontalScrollWrapper {
	overflow-x: scroll;
	width: 360px;
	overflow: -moz-scrollbars-none;
	padding: 16px 0 0 0;
}

#mainInput {
	float: left;
	height: 48px;
	width: 150px;
	padding: 8px 24px;
	font-size: 24px;
	border-radius: 40px;
	color: indigo;
}

#mainInput,
#mainInput:focus,
#mainInput:hover {
	outline: none;
	border: none;
	outline-style: none;
	border-color: inherit;
	-webkit-box-shadow: none;
	outline-width: 0;
	box-shadow: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

#unitPicker {
	float: left;
	width: 60px;
	padding: 22px 24px;
	margin: 0 0 0 20px;
	border: 1px solid white;
	border-radius: 40px;
	font-size: 16px;
}

#unitPicker:hover,
#unitPickerList > label:hover,
#unitPickerList > input[type=radio]:checked + label,
#categoryList > label:hover,
#categoryList > input[type=radio]:checked + label {
	background: white;
	cursor: pointer;
	color: indigo;
}

#convertedList {
	clear: left;
	float: left;
	padding: 0;
}

#convertedList li {
	display: flex;
	align-items: center;
	height: 48px;
	margin: 12px 0;
	padding: 0;
	list-style: none;
}

.converted {
	display: flex;
	align-items: center;
	width: 190px;
	height: 100%;
	padding: 0 0 0 20px;
	border: 1px solid white;
}

.unitType {
	height: 20px;
	margin: 0 0 0 24px;
}

#unitPickerList {
	position: absolute;
	top: 0;
	margin: auto;
	width: 328px;
	height: 90vh;
	padding: 16px 16px 0 16px;
	list-style: none;
	background: indigo;
}

#unitPickerList > label,
#categoryList > label {
	display: block;
	padding: 22px 24px;
	margin: 0 0 20px 0;
	border: 1px solid white;
	border-radius: 40px;
	font-size: 16px;
}

#categoryList {
	width: 590px;
	padding: 0 0 20px 0;
}

::-webkit-scrollbar {
	display: none;
}

#categoryList > label {
	display: inline-block;
	margin: 0 0 0 16px;
}

input[type=radio] {
	display: none;
}
