.btn {}

#collectionPicker,
#unitPicker,
#unitPickerList > label,
#categoryList > label,
#collectionPickerList > label {
	padding: 13px 24px;
	border: 1px solid $primary-color;
	color: $primary-color;
	border-radius: 40px;
	font-size: 16px;
	background: transparent;
}

#unitPicker {
	float: left;
	width: 60px;
	margin: 0 0 0 20px;
}

#collectionPicker:hover,
#unitPicker:hover,
#unitPickerList > label:hover,
#unitPickerList > input[type=radio]:checked + label,
#categoryList > label:hover,
#categoryList > input[type=radio]:checked + label,
#collectionPicker:hover,
#collectionPickerList > label:hover,
#collectionPickerList > input[type=radio]:checked + label {
	background: $primary-color;
	cursor: pointer;
	color: $secondary-color;
}

#unitPickerList > label,
#categoryList > label,
#collectionPickerList > label {
	display: block;
	margin: 0 0 20px 0;
}


input[type=radio] {
	display: none;
}
