.btn {
	padding: 12px 24px 14px 24px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid transparent;
	color: $primary-color;
	border-radius: 40px;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
}

.btn-ic {
	height: 44px;
	width: 44px;
	padding: 0;
	background-size: contain;
}

.btn-ic-text {}

.ic-menu {
	background: url(../svg/Icon/Menu.svg) no-repeat center center;
}

.ic-menu:hover {
	background: url(../svg/Icon/Menu2.svg) no-repeat center center;
}

#unitPicker,
#unitPickerList > input[type=radio]:checked + label,
#categoryList > input[type=radio]:checked + label,
#collectionPickerList > input[type=radio]:checked + label {
	border: 1px solid $primary-color;
}

.btn:hover,
#categoryList > label:hover,
#collectionPickerList > label:hover,
	{
	background-color: $primary-color;
	color: $secondary-color !important;
}

#unitPickerList > label,
#categoryList > label,
#collectionPickerList > label {
	margin: 0 0 20px 0;
}


input[type=radio] {
	display: none;
}
