.btn {
	padding: 12px 24px 14px 24px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid transparent;
	color: $primary-color;
	border-radius: 40px;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
}

.btn-ic {
	display: flex;
	flex-flow: row;
	justify-content: center;
	height: 44px;
	width: 44px;
	padding: 0;
}

.btn-ic svg {
	align-self: center;
}

.btn-ic-txt {
	display: flex;
	flex-flow: row;
	padding: 9px 20px 9px 24px;
}

.btn-ic-txt span {
	margin-right: 21px;
	line-height: 22px;
}

#unitPicker,
#unitPickerList input[type=radio]:checked + label,
#categoryList input[type=radio]:checked + label,
#collectionPickerList input[type=radio]:checked + label {
	border: 1px solid $primary-color;
}

.btn:hover,
.btn-ic:hover,
.btn:hover span,
.btn:hover svg g,
#categoryList label:hover,
#collectionPickerList label:hover,
	{
	background-color: $primary-color;
	color: $secondary-color !important;
	fill: $secondary-color !important;
}

#unitPickerList label,
#categoryList label,
#collectionPickerList label {
	margin: 0 0 20px 0;
}

input[type=radio] {
	display: none;
}
