$primary-color: #fff;

$secondary-color: #5A1DA9;

$bg1: linear-gradient(135deg, #6713d2 0%, #cc208e 100%);
;

* {
	color: $primary-color !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:hover,
li:hover,
input,
input:hover {
	color: $secondary-color !important;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.8);
}

input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.4);
}
