$mainPadding: 24px;
@import 'reset';
@import 'color';
@import 'typography';
@import 'buttons';
@import 'animation';

@viewport {
	zoom: 1.0;
	width: device-width;
}


.background {
	height: 100vh;
	width: 100vw;
	background: $bg1;
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0;
}

html {
	background: black;
}

body {
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header {
	margin: 14px 34px 0 -10px;
}

header .btn {
	margin-top: 0px;
}

main {
	width: 100%;
	opacity: 1;
}

::-webkit-scrollbar {
	display: none;
}

.visible {
	opacity: 1;
}

.invisible {
	opacity: 0;
}

.wrapperCol {
	display: flex;
	flex-direction: column;
	max-width: 100vw; //overflow-y: scroll;
}

.wrapperRow,
.horizontalScrollWrapper {
	display: flex;
	flex-direction: row;
	padding: 0 $mainPadding;
	box-sizing: border-box;
	max-width: 100vw;
	justify-content: flex-start; //overflow-y: visible;
	overflow-x: scroll;
	overflow: -moz-scrollbars-none;
}

.wrapperSwitch {
	display: flex;
	flex-flow: column;
	padding: 0;
	margin: 0;
}

.wrapperSwitch .wrapperRow {
	justify-content: center;
}

/*
.horizontalScrollWrapper {
	overflow-x: scroll;
	overflow: -moz-scrollbars-none;
}
*/

.wrapperRow > form {
	display: flex;
	flex-direction: row;
}

#mainForm {
	width: 100%;
}

#mainInput {
	box-sizing: border-box;
	width: 100%;
	padding: 10px $mainPadding;
	font-size: 38px;
	letter-spacing: 4px;
	text-align: center;
	margin: 24px 0 0 0;
	border-bottom: 1px solid $primary-color;
	background: none;
	color: $primary-color !important;
	text-overflow: ellipsis !important;
}

#mainInput,
#mainInput:focus,
#mainInput:hover {
	outline: none;
	border-bottom: 1px solid $primary-color;
	border-left: none;
	border-right: none;
	border-top: none;
	outline-style: none;
	border-color: inherit;
	-webkit-box-shadow: none;
	outline-width: 0;
	box-shadow: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

#unitPicker {
	margin-top: 19px;
}

#convertedList {
	width: 100%;
	margin: 29px 0 0 0;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	align-content: flex-start;
}

#convertedList > li {
	display: flex;
	height: 48px;
	flex-direction: row;
	width: 100%;
	margin: 4px 0 0 0;
	padding: 0;
	list-style: none;
}

#convertedList > li > div {
	width: calc(50% - 12px);
	align-self: center;
}

.converted {
	font-size: 21px;
	margin-right: $mainPadding;
	text-align: right !important;
	letter-spacing: 2.5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.converted:empty:not(:focus):before {
	content: "0.00";
	color: rgba(255, 255, 255, 0.55);
}

#unitPicker {
	align-self: center;
}

#unitPickerContainer,
#mainMenuContainer {
	display: none;
	z-index: 5;
	flex-flow: column;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
	min-height: 100%;
	list-style: none; //background: $bg1;
	//background-attachment: fixed;
}

#unitPickerContainer {
	text-align: center;
	justify-content: center;
	opacity: 0;
	width: 0;
	display: flex;
	right: $mainPadding*-1.85*2;
}

#mainMenuContainer {
	padding: $mainPadding*1.25 $mainPadding*1.85 0 $mainPadding*1.85;
	opacity: 0;
	width: 0;
	display: flex;
	left: $mainPadding*-1.85*2;
}

#unitPickerContainer form,
#mainMenuContainer form {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
}

#unitPickerContainer form {
	align-items: center;
}

#mainMenuContainer form {
	align-items: flex-start;
}

#mainMenuContainer .separator {
	margin-top: 28px;
}

#mainMenu {
	margin-top: 38px;
}

#unitPickerContainer form .btn {
	margin-top: 12px;
}

#closeList {
	position: absolute;
	top: $mainPadding*0.6;
	left: $mainPadding*0.6;
}

#closeMainMenu {
	position: absolute;
	top: $mainPadding*0.6;
	right: $mainPadding*0.6;
}

//Category List
#appLogo {
	width: 148px;
	height: 148px;
}

::-webkit-scrollbar {
	display: none;
}

#categoryList {
	margin-top: 18px;
}

#categoryList > label {
	margin: 0 0 0 8px;
}

#categoryList > label:first-of-type {
	margin: 0;
}

//Media Queries
@media only screen and (max-device-width: 320px) {
	#mainInput {
		font-size: 34px;
		letter-spacing: 3px;
	}
}

@media only screen and (min-device-width: 400px) {
	#mainInput {
		font-size: 44px;
		margin: 28px 0 0 0;
	}
	#convertedList {
		margin: 40px 0 0 0;
	}
}

@media only screen and (min-device-width: 800px) {
	body {
		display: flex;
		flex-flow: row;
	}

	main.wrapperCol {
		padding-left: 88px;
	}
	.wrapperSwitch {
		flex-flow: row;
		align-items: baseline;
	}

	.wrapperSwitch .wrapperRow {
		justify-content: flex-start;
	}

	.wrapperRow {
		justify-content: flex-start;
	}

	#mainMenuContainer {
		position: relative;
		padding: 76px 0 0 72px;
	}

	#unitPickerContainer {
		max-width: 800px;
	}

	#unitPicker {
		//height: 60px;
		align-self: flex-end;
	}

	#unitPickerList > label {
		margin: 20px 48px 20px 0;
	}

	#categoryList {
		margin: 120px 0 0 0;
	}

	#categoryList > label {
		margin: 0 0 0 32px;
	}

	header {
		display: none;
	}
	#mainInput {
		font-size: 44px;
		width: 360px;
		text-align: left;
		margin: 94px 0 0 0;
		padding: 12px 0;
	}

	#convertedList {
		height: 40vh;
		margin: 85px 0 0 0;
	}

	#convertedList > li {
		width: auto;
		margin: 16px 64px 0 0;
	}

	#convertedList > li > div {
		width: 168px;
	}

	.converted {
		text-align: left !important;
	}

	#mainMenuContainer {
		display: flex;
		width: 384px;
		height: 100vh;
		background: rgba(0, 0, 0, 0.08);
	}

	#mainMenu {
		margin: 80px 0 0 0;
	}

	#closeMainMenu {
		display: none;
	}

	#closeList {
		top: 130px;
		left: 16px;
	}

	#unitPickerContainer form {
		align-items: flex-start;
		align-content: flex-start;
		height: 50vh;
	}
}
