$mainPadding: 24px;
@import 'reset';
@import 'color';
@import 'typography';
@import 'buttons';

@viewport {
	zoom: 1.0;
	width: device-width;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: $bg1;
	margin: 0;
	padding: 0;
}

header {
	margin: 14px 34px 0 -10px;
}

header .btn {
	margin-top: 0px;
}

::-webkit-scrollbar {
	display: none;
}

.mainWrapper {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
}

.wrapper,
.horizontalScrollWrapper {
	display: flex;
	flex-direction: row;
	padding: 0 $mainPadding;
	max-width: 100vw;
	justify-content: flex-start;
	overflow-y: scroll;
}

.wrapper-centered {
	justify-content: center;
}

.horizontalScrollWrapper {
	overflow-x: scroll;
	overflow: -moz-scrollbars-none;
}

.horizontalScrollWrapper > form {
	display: flex;
	flex-direction: row;
}

#mainForm {
	width: 100%;
}

#mainInput {
	box-sizing: border-box;
	width: 100%;
	padding: 10px $mainPadding;
	font-size: 36px;
	letter-spacing: 2.7px;
	text-align: center;
	margin: 21px 0 0 0;
	border-bottom: 1px solid $primary-color;
	background: none;
	color: $primary-color !important;
	text-overflow: ellipsis !important;
}

#mainInput,
#mainInput:focus,
#mainInput:hover {
	outline: none;
	border-bottom: 1px solid $primary-color;
	border-left: none;
	border-right: none;
	border-top: none;
	outline-style: none;
	border-color: inherit;
	-webkit-box-shadow: none;
	outline-width: 0;
	box-shadow: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

#unitPicker {
	margin-top: 19px;
}

#convertedList {
	width: 100%;
	margin: 29px 0 0 0;
}

#convertedList > li {
	display: flex;
	height: 48px;
	flex-direction: row;
	width: 100%;
	margin: 4px 0 0 0;
	padding: 0;
	list-style: none;
}

#convertedList > li > div {
	width: calc(50% - 12px);
	align-self: center;
}

.converted {
	font-size: 21px;
	margin-right: $mainPadding;
	text-align: right !important;
	letter-spacing: 1.85px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.converted:empty:not(:focus):before {
	content: "00000";
}

#unitPickerContainer,
#mainMenuContainer {
	flex-flow: column;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	padding: $mainPadding $mainPadding 0 $mainPadding;
	list-style: none;
	background: $bg1;
}

#unitPickerContainer {
	text-align: center;
}

#mainMenuContainer {
	padding: $mainPadding*1.833 $mainPadding*1.833 0 $mainPadding*1.833;
}

#unitPickerContainer form,
#mainMenuContainer form {
	display: flex;
	flex-flow: column;
}

#unitPickerContainer form {
	align-items: center;
}

#mainMenuContainer form {
	align-items: flex-start;
}

#mainMenuContainer .separator {
	margin-top: 32px;
}

#mainMenu {
	margin-top: 48px;
}

#unitPickerContainer form .btn {
	margin-top: 12px;
}

#closeList {
	position: fixed;
	left: 16px;
}

#closeMainMenu {
	position: fixed;
	top: calc(50% - 22px);
	right: 16px;
}

//Category List
::-webkit-scrollbar {
	display: none;
}

#categoryList {
	margin-top: 18px;
}

#categoryList > label {
	margin: 0 0 0 8px;
}

#categoryList > label:first-of-type {
	margin: 0;
}
